*,
::before,
::after {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


.search-box {
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.search-button {
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    background-color: rgb(242, 228, 203);
    color: white;
}

header {
    display: flex;
    background-size: cover;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 245, 227, 1);

}

.logo {
    height: 150px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav {
    height: 80px;
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    background-color: rgb(242, 228, 203);
    border-radius: 20px;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;


}

nav a {
    text-decoration: none;
    color: rgba(108, 60, 16, 1);

}

.bouton-connexion {
    height: 40px;
    width: 100px;
    background-color: rgb(242, 228, 203);
    border-radius: 20px;
    border-color: rgb(228, 213, 186);

}

.div-bouton-recherche {
    width: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.utilisateur-connecte {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nom-utilisateur {
    font-family: 'Indie Flower', cursive;
    color: rgba(108, 60, 16, 1);
    font-size: 1rem;
}