*,
::before,
::after {
    margin:0;
    padding: 0px;
    box-sizing: border-box;
}

footer {
    display: flex;
    background-size: cover;
    justify-content: space-around;
    border: 2px solid black;

}

.logo-figma {
    height: 50px;
    width: 50px;
}

.logo-x {
    height: 50px;
    width: 50px;
}

.logo-insta {
    height: 50px;
    width: 50px;
}

.logo-youtube {
    height: 50px;
    width: 50px;
}

.logo-linkedin {
    height: 50px;
    width: 50px;
}

.nav-logo {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.nav-cases {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
h2 {
    margin-bottom: 20px;
}

.nav-explore {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav-resources {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}